nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #333;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form, .register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: 0 20px;
  }
  
  .login-form h2, .register-form h2 {
    text-align: center;
    margin-top: 0;
  }
  
  .login-form label, .register-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input[type="text"], .login-form input[type="password"],
  .register-form input[type="text"], .register-form input[type="email"],
  .register-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .login-form button, .register-form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-form button:hover, .register-form button:hover {
    background-color: #3e8e41;
  }